.row h3 {
    margin:10px;
    color: #fff;
    font-size: 1.7rem;
}
.row__posts {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posts::-webkit-scrollbar {
    display: none;
}

.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: all .5s;
    margin-right: 10px;
    cursor: pointer;
}
.row__poster__large {
    max-height: 270px;
}
.row__poster:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 767px) {

}