* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: #111;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {

}