.nav {
    position: fixed;
    display: flex;
    top: 0;
    padding:10px;
    transition: all .5s ease-in-out;
    z-index: 999;
    width: 100vw;
}

@media screen and (max-width: 767px) {
    .nav__avatar {
        right: 0;
    }
}

.navbar__black {
    height: 75px;
    background-color: #111;
    width: 100%;
}

.nav > img {
    position: fixed;
    width: 150px;
}

.nav__logo {
    left: 0;
}
.nav__avatar {
    right: 20px;
    width: 60px !important;
}